node-red-test-assets/data/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fa6f0b57788971fb",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "echo",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c5f3889fbef9550",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 690,
        "y": 40,
        "wires": [
            [
                "30feb2d5aa78ce5c"
            ]
        ]
    },
    {
        "id": "e39892bae54ba38b",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "echo",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c5f3889fbef9550",
        "x": 370,
        "y": 40,
        "wires": []
    },
    {
        "id": "aada3f3cbff660c4",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "hello",
        "payloadType": "str",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "e39892bae54ba38b"
            ]
        ]
    },
    {
        "id": "30feb2d5aa78ce5c",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 120,
        "wires": []
    },
    {
        "id": "cb24626f7627e448",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "how's it going",
        "payloadType": "str",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "e39892bae54ba38b"
            ]
        ]
    },
    {
        "id": "9c7f36e55d4de46e",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 40,
        "wires": [
            [
                "e39892bae54ba38b"
            ]
        ]
    },
    {
        "id": "a7927bbf440fe2f3",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "<- Microservice ->",
        "info": "",
        "x": 530,
        "y": 40,
        "wires": []
    },
    {
        "id": "8f4c66ba50586d73",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Check Node-RED Debugger",
        "info": "",
        "x": 860,
        "y": 160,
        "wires": []
    },
    {
        "id": "3c5f3889fbef9550",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker",
        "port": "8883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]